<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>Play with mpv</string>
	<key>connections</key>
	<dict>
		<key>3D1CAD17-959F-4597-BB0D-973215C2328D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>830F6A1D-CF05-4386-AEF9-2A132B18CF9C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>566B7EBE-41F9-4200-858E-CBFDF68787C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAAF4DC4-257B-4FBF-A9F0-A6D693DC358C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6347C009-8888-45FD-AAB4-7A4B68241011</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E4B142F-8585-4A2D-BF0D-015A87E9D09B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AAAF4DC4-257B-4FBF-A9F0-A6D693DC358C</key>
		<array/>
		<key>AB1AA535-6611-4C5B-8AA2-F2DE603D0783</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB4AE399-9E8F-4676-9CC5-9D1BF70C558C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EB4AE399-9E8F-4676-9CC5-9D1BF70C558C</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>McKing</string>
	<key>description</key>
	<string>Play video with mpv</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>mpv</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>mpv {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>6E4B142F-8585-4A2D-BF0D-015A87E9D09B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mpv</string>
				<key>subtext</key>
				<string>Input the URL-link</string>
				<key>text</key>
				<string>Play with mpv</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6347C009-8888-45FD-AAB4-7A4B68241011</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/bilidan
./bilidan.py http://www.bilibili.com/video/av{query}/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>AAAF4DC4-257B-4FBF-A9F0-A6D693DC358C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mpb av</string>
				<key>subtext</key>
				<string>输入av号~</string>
				<key>text</key>
				<string>哔哩哔哩AV号~</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>566B7EBE-41F9-4200-858E-CBFDF68787C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>cd ~/bilidan
./bilidan.py {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>EB4AE399-9E8F-4676-9CC5-9D1BF70C558C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mpb</string>
				<key>subtext</key>
				<string>输入哔哩哔哩视频网址~</string>
				<key>text</key>
				<string>MPV哔哩哔哩~</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>AB1AA535-6611-4C5B-8AA2-F2DE603D0783</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>you-get --format=mp4 {query}
cp *.mp4 ~/downloads/youget</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>830F6A1D-CF05-4386-AEF9-2A132B18CF9C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>down</string>
				<key>subtext</key>
				<string>输入URL下载其中的视频为MP4</string>
				<key>text</key>
				<string>下载为MP4文件</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3D1CAD17-959F-4597-BB0D-973215C2328D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3D1CAD17-959F-4597-BB0D-973215C2328D</key>
		<dict>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>566B7EBE-41F9-4200-858E-CBFDF68787C3</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>6347C009-8888-45FD-AAB4-7A4B68241011</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>6E4B142F-8585-4A2D-BF0D-015A87E9D09B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>830F6A1D-CF05-4386-AEF9-2A132B18CF9C</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>AAAF4DC4-257B-4FBF-A9F0-A6D693DC358C</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>AB1AA535-6611-4C5B-8AA2-F2DE603D0783</key>
		<dict>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>EB4AE399-9E8F-4676-9CC5-9D1BF70C558C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
